.Inicio{
    width: 1600px;
    height: 900px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Tilt*/
.Inicio > div{
    z-index: 1!important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent!important;
    width: 120%!important;
    height: 120%;
    padding: 0!important;
    margin: 0!important;
}

.Item{
    background-color: antiquewhite;
    width: 1000px;
    height: 700px;
}

.Presentacion{
    width: 100%;
}